<form id="optionsForm" action="/createVote" method="POST">

    <fieldset class="form-group">
    <label >Voting Name</label>
    <input name="voteName" type="text" class="form-control" id="voteName" placeholder="Voting Name" required>
  </fieldset>
  <fieldset class="form-group">
    <label >Option 1</label>
    <input name="nameOption1" type="text" class="form-control" id="inputOption1" placeholder="Option 1" required>
  </fieldset>
  <fieldset class="form-group">
    <label >Option 2</label>
    <input name="nameOption2" type="text" class="form-control" id="inputOption2" placeholder="Option 2" required>
  </fieldset>
<fieldset class="form-group row">
        <button class="btn btn-warning btn-block" type="button" id="addOneOptionBtn" onclick="addOneOption()">Add one more option</button>
    </fieldset>
     <!--<fieldset class="form-group row">
        <button class="btn btn-info btn-block" onclick="saveOptions()" id="saveOptionsBtn">Save</button>  
    </fieldset>-->
<fieldset class="form-group row">
        <input class="btn btn-info btn-block" type="submit" value="Save"></button>  
    </fieldset>
</form>